/*
:root{
    --bg-color:#0C0C0D;
    --bg-inverse-color:#f3f3f2;
    --bg-fake-color:#13005A;
    --main-color:#3E428C;
    --accent-color1:#F2B705;
    --accent-color2:#A904BF;
    --opacity:0.5;
}*/